html {
    font-family: sans-serif;
}

.map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.about {
    position: absolute;
    width: 320px;
    height: 380px;
    background: white;
    opacity: 0.7;
    left: 10px;
    bottom: 10px;
    padding: 12px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 4px;
}

#sidebar {
    opacity: 0.8;
}

.handle {
    display: inline-block;
    transition: -webkit-transform 0.1s linear;
    cursor: pointer;
}

.examples {
    overflow-y: hidden;
    transition: height 0.25s ease-in;
}

.hide {
    height: 0;
}

.closed {
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
}