<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">

    <title>
      {% if page.title %}{{ page.title }} &middot; {% endif %}
      Leaflet Routing Machine
    </title>

    <script src="{{site.baseurl}}/public/lib/highlight.pack.js"></script>

    <!-- CSS -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.css">
    <![endif]-->
    <link rel="stylesheet" href="{{site.baseurl}}/public/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/public/css/skeleton.css">
    <link rel="stylesheet" href="{{site.baseurl}}/lib/prism.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/public/css/site.css" />
    <script src="https://unpkg.com/leaflet@latest/dist/leaflet-src.js"></script>
    <script src="https://unpkg.com/leaflet.icon.glyph@0.2.0/Leaflet.Icon.Glyph.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  </head>
  <body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/perliedman/leaflet-routing-machine">Fork me on GitHub</a>
        </div>
    </div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <header class="hero-header">
          <h1 class="hero-heading"><a href="{{site.baseurl}}/">Leaflet Routing Machine</a></h1>
          <div><img src="{{site.baseurl}}/public/logo.svg"/></div>
          <p>Easy, flexible routing for Leaflet</p>
          <a class="button button-primary" href="{{site.baseurl}}/#about">About</a>
          <a class="button button-primary" href="{{site.baseurl}}/#getting-started">Getting Started</a>
          <a class="button button-primary" href="{{site.baseurl}}/tutorials">Tutorials</a>
          <a class="button button-primary" href="{{site.baseurl}}/api">API</a>
          <a class="button button-primary" href="https://github.com/perliedman/leaflet-routing-machine/releases">Download</a>
        </header>
      </div>
    </div>
    <hr>

    {{ content }}

    <hr>
    Copyright &copy; 2015 Per Liedman, released under <a href="https://raw.githubusercontent.com/perliedman/leaflet-routing-machine/master/LICENSE">ISC License</a>. Logo by <a href="http://thenounproject.com/alexeyivanov">Alexey Ivanov</a>, released under Creative Commons CC-BY 3.0.
  </div>

  <div id="osrm-error">
    <a href="#" id="osrm-error-close">&times;</a>
    <h4><strong>Sorry!</strong> The OSRM demo server appears down, or a network error occured.</h4>
    <p>This prevents Leaflet Routing Machine from displaying a route. The demo server will hopefully be
    back up soon. Please <em>do not</em> report this as an issue, Leaflet Routing Machine has no control
    over the demo server.</p>
    <p>In production, set up your own OSRM instance, or pay a service provider.</p>
  </div>
</div>

    <script src="{{site.baseurl}}/lib/prism.js"></script>
    <script type="text/javascript">
      function handleError(e) {
        if (e.error.status === -1) {
          // HTTP error, show our error banner
          document.querySelector('#osrm-error').style.display = 'block';
          L.DomEvent.on(document.querySelector('#osrm-error-close'), 'click', function(e) {
            document.querySelector('#osrm-error').style.display = 'none';
            L.DomEvent.preventDefault(e);
          });
        }
      }
    </script>
  </body>
</html>
