<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">

    <title>
      {% if page.title %}{{ page.title }} &middot; {% endif %}
      Leaflet Routing Machine
    </title>

    <script src="{{site.baseurl}}/public/lib/highlight.pack.js"></script>

    <!-- CSS -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.css">
    <![endif]-->
    <link rel="stylesheet" href="{{site.baseurl}}/public/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/public/css/skeleton.css">
    <link rel="stylesheet" href="{{site.baseurl}}/lib/prism.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/lib/leaflet.iconlabel.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/public/css/site.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{site.baseurl}}/lib/leaflet.iconlabel.js"></script>
    <script src="{{site.baseurl}}/lib/Control.Geocoder.js"></script>
    <script src="{{site.baseurl}}/dist/leaflet-routing-machine.js"></script>
  </head>
  <body>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/perliedman/leaflet-routing-machine">Fork me on GitHub</a>
        </div>
    </div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <header class="hero-header">
          <h1 class="hero-heading"><a href="{{site.baseurl}}/">Leaflet Routing Machine</a></h1>
          <div><img src="{{site.baseurl}}/public/logo.svg"/></div>
          <p>Easy, flexible routing for Leaflet</p>
          <a class="button button-primary" href="{{site.baseurl}}/#about">About</a>
          <a class="button button-primary" href="{{site.baseurl}}/#getting-started">Getting Started</a>
          <a class="button button-primary" href="{{site.baseurl}}/tutorials">Tutorials</a>
          <a class="button button-primary" href="{{site.baseurl}}/api">API</a>
          <a class="button button-primary" href="https://github.com/perliedman/leaflet-routing-machine/releases">Download</a>
        </header>
      </div>
    </div>
    <hr>

    {{ content }}

    <hr>
    Copyright &copy; 2015 Per Liedman, released under <a href="https://raw.githubusercontent.com/perliedman/leaflet-routing-machine/master/LICENSE">ISC License</a>. Logo by <a href="http://thenounproject.com/alexeyivanov">Alexey Ivanov</a>, released under Creative Commons CC-BY 3.0.
  </div>
</div>

    <script src="{{site.baseurl}}/lib/prism.js"></script>
  </body>
</html>
